<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Color Changer</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color:rgb({{ red }},{{ green }},{{ blue }});">
<div class="radio">
<h1>Choose A Color</h1>
<form method="POST" action="/radio">
  <input type="radio" name="color" value="Red" checked> Red
  <input type="radio" name="color" value="Orange"> Orange
  <input type="radio" name="color" value="Yellow"> Yellow
  <input type="radio" name="color" value="Green"> Green
  <input type="radio" name="color" value="Blue"> Blue
  <input type="radio" name="color" value="Purple"> Purple
  <input type="radio" name="color" value="White"> White
  <input type="radio" name="color" value="Off"> Off<br><br>
  <input class="btn btn-primary" type="submit" value="Send It">
</form>
</div>
<div class="range">
<h1>Make Your Own</h1>
<form method="POST" action="/range">
  Red:<br>
  <input type="range" min="0" max="255" name="red"><br>
  Green:<br>
  <input type="range" min="0" max="255" name="green"><br>
  Blue:<br>
  <input type="range" min="0" max="255" name="blue"><br><br>
  <input class="btn btn-primary" type="submit" value="Send It">
</form>
</div>
<div class="range">
<h1>Fade</h1>
<form method="POST" action="/fade">
  <input type="radio" name="color" value="Red" checked> Red
  <input type="radio" name="color" value="Green"> Green
  <input type="radio" name="color" value="Blue"> Blue
  <input type="radio" name="color" value="Multi"> Multi
  <input type="radio" name="color" value="RGB"> RGB<br><br>
  Speed:<br>
  <input type="range" min="1" max="100" value="25" name="speed"><br>
  Brightness:<br>
  <input type="range" min="0" max="255" value="255" name="bright"><br>
  <input class="btn btn-primary" type="submit" value="Send It">
</form>
</div>
<div class="other">
<h1>Random</h1>
<form method="POST" action="/random">
  <input class="btn btn-primary" type="submit" value="Send It">
</form>
</div>
</body>
</html>
